.page-container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
}

.page-container__board {
    display: flex;
    /* flex: 1; */
    width: 90vw;
}

.page-container__part {
    width: 50%;
    max-height: 100%;
    padding: 24px;
}

.page-container__part:first-child {
    border-right: 1px solid #434340;
}

.page-container__logger {
    padding: 24px;
    flex-basis: 600px;
    max-height: 100%;
}

.page-container__glass {
    height: 100%;
    background: #00000066;
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.342);
    backdrop-filter: blur(2px);
}

.player-status-bar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff0c;
}

.player-name-dire {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 132, 255);
}

.player-name-radiant {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 64);
}

.player-status-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(253, 253, 0);
    color: black;
    width: 5em;
    height: 2rem;
}

.hero-game-page-avatar-elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
flex-basis: 100px;
    height: inherit;
    flex-grow: 1;
}

.hero-game-page-avatar {
    height: 50vh;

}

.data-hero-progress-bar-block {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.progressBar {
    height: 20px;
    width: 100%;
    box-shadow: white;
    background: #969696;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.progressBar::before {
    content: '';
    position: absolute;
    height: 100%;
}

.radiantHitPointsContainer::before {
    width: var(--width, 0);
    content: '';
    background: linear-gradient(
        0deg,
        rgba(0, 124, 6, 1) 0%,
        rgba(0, 214, 10, 1) 25%,
        rgba(0, 124, 6, 1) 100%
    );
}

.radiantManaPointsContainer::before {
    width: var(--width, 0);
    content: '';
    background: linear-gradient(
        0deg,
        rgba(0, 13, 128, 1) 0%,
        rgba(18, 42, 255, 1) 25%,
        rgba(0, 13, 128, 1) 100%
    );
}

.direHitPointsContainer::before {
    width: var(--width, 0);
    content: '';
    background: linear-gradient(
        0deg,
        rgba(0, 124, 6, 1) 0%,
        rgba(0, 214, 10, 1) 25%,
        rgba(0, 124, 6, 1) 100%
    );
}

.direManaPointsContainer::before {
    width: var(--width, 0);
    content: '';
    background: linear-gradient(
        0deg,
        rgba(0, 13, 128, 1) 0%,
        rgba(18, 42, 255, 1) 25%,
        rgba(0, 13, 128, 1) 100%
    );
}

.progress-bar-text {
    z-index: 2;
    position: absolute;
    text-align: center;
    width: 100%;
}

.hero-action {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.hero-name {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.player-form_hero-stat {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.spellButton:disabled:hover {
    box-shadow: none;
    cursor: not-allowed;
    background-color: #3d3d3d;
}

.spellButton:disabled {
    cursor: not-allowed;
    background-color: #3d3d3d;
}

.spellButton:hover {
    box-shadow: 0 0 5px #00ffc84b, 0 0 25px #00ffc84b, 0 0 50px #00ffc84b,
        0 0 200px #00ffc84b;
}

.manacost-indicator {
    background-color: aqua;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: block;
    border-radius: 9px;
    width: 2rem;
    height: 1rem;
}

.spellButton {
    position: relative;
    cursor: pointer;
    height: fit-content;
    border-color: #000000a9;
    border-width: 1px;
}

.spellImage {
    display: block;
    width: 60px;
    background-color: rgba(0, 0, 0, 0.89);
}

.data-hero-spells-container {
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cooldownCounter {
    position: absolute;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
}

.hero-modifiers-container {
    position: absolute;
    bottom: 0px;
    display: flex;
    gap: 10px;
}

.modifier-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.modifier-negative {
    border: 4px solid rgba(153, 0, 0, 0.66);
}

.modifier-positive {
    border: 4px solid rgba(0, 160, 24, 0.548);
}

.logger-caption-container {
    display: flex;
    align-items: center;
    padding: 20px;
    height: 72px;
    background-color: #ffffff0c;
}

.log-container {
    max-height: 100%;
}

.logger-messages-container {
    white-space: pre-wrap;
    height: 80svh;
    display: flex;
    flex-flow: column;
    padding-left: 20px;
    padding-right: 10px;

    overflow-y: auto;
}

.logger-message-round{
    font-size: 18px;
    color: rgb(255, 255, 0);
    padding-top: 10px;
}

.logger-message-caption{
    color: rgb(255, 255, 161);
    padding-top: 10px;
}

.player-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.logger-messages-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .logger-messages-container::-webkit-scrollbar-track {
    background: #00000066;
  }
  
  .logger-messages-container::-webkit-scrollbar-thumb {
    background-color: rgb(75, 40, 0);
    border: 1px solid rgb(124, 81, 1);
  }