<div class="page-container page-container--column">
  <div class="page-container__board">
    <div class="page-container__part">
      <div class="page-container__glass">
        <div data-radiant-player-view>
          <div data-radiant-status-bar></div>
          <div data-radiant-hero-avatar></div>
          <div data-progress-bar></div>
          <div data-hero-action class="hero-action">
            <div data-hero-spells></div>
            <div data-hero-stats></div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-container__part">
      <div class="page-container__glass">
        <div data-dire-player-view>
          <div data-dire-status-bar></div>
          <div data-dire-hero-avatar></div>
          <div data-progress-bar></div>
          <div data-hero-action class="hero-action">
            <div data-hero-spells></div>
            <div data-hero-stats></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-container__logger">
    <div class="page-container__glass">
      <div data-logger></div>
    </div>
  </div>
</div>
