<div data-hero-spells-container class="data-hero-spells-container">
    <button class="spellButton"  data-hero-spell-0 id="spell">
        <img class="spellImage">
    </button>
    <button class="spellButton" data-hero-spell-1 id="spell">
        <img class="spellImage">
    </button>
    <button class="spellButton" data-hero-spell-2 id="spell">
        <img class="spellImage">
    </button>
    <button class="spellButton" data-hero-spell-3 id="spell">
        <img class="spellImage">
    </button>
    <button class="spellButton" data-hero-attack id="attack">
        <img class="spellImage">
    </button>
</div>