<div class="player-form_hero-stat" data-hero-stat>
<div class="hero-name" data-hero-name></div>
<div class="hero-parameters" data-hero-stats>
    <div class="hero-stat" stat='strength'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_strength.png"><p data-stat-value></p></div>
    <div class="hero-stat" stat='agility'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_agility.png"><p data-stat-value></p></div>
    <div class="hero-stat" stat='intelligence'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_intelligence.png"><p data-stat-value></p></div>
    <div class="hero-stat" stat='damage'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_damage.png"><p data-stat-value></p></div>
    <div class="hero-stat" stat='armor'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_armor.png"><p data-stat-value></p></div>
</div>
</div>