<div class="hero-name" data-hero-name></div>
<div class="hero-parameters" data-hero-stats>
    <div class="hero-stat" stat='strength'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_strength.png"></div>
    <div class="hero-stat" stat='agility'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_agility.png"></div>
    <div class="hero-stat" stat='intelligence'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/icons/hero_intelligence.png"></div>
    <div class="hero-stat" stat='maxDamage'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_damage.png"></div>
    <div class="hero-stat" stat='armor'><img class="icon" src="https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react//heroes/stats/icon_armor.png"></div>
</div>