$shadow-hover: 0 0 5px #00ffc84b, 0 0 25px #00ffc84b, 0 0 50px #00ffc84b, 0 0 200px #00ffc84b;

$shadow-focus: 0 0 5px #00ffeab7, 0 0 25px #00ffeab7, 0 0 50px #00ffeab7, 0 0 200px #00ffeab7;

.player-form {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-form__title {
  font-size: 36px;
  margin-bottom: 20px;
}

.player-form__title.red {
  color: red;
}

.player-form__title.blue {
  color: blue;
}

.player-form__label {
  margin-bottom: 16px;
}

.player-form__input {
  width: 100%;
  margin-bottom: 10px;
}

.input:focus {
  box-shadow: $shadow-focus;
}

.input-field-active {
  box-shadow: $shadow-focus;
}

.input:disabled {
  background-color: rgba(240, 248, 255, 0.726);
}

.hero-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.hero-avatar-button {
  display: block;
  border: none;
  height:inherit;
  cursor: pointer;
  height: 15vh;
}

.hero-avatar-button-active {
  border: none;
  box-shadow: $shadow-focus;
}

.hero-avatar-button:hover {
  box-shadow: $shadow-hover;
}

.hero-avatar-button:focus {
  box-shadow: $shadow-focus;
}

.hero-avatar {
  display: block;
}

.button--primary {
  cursor: pointer;
}

.button--primary:disabled {
  pointer-events: none;
  opacity: 0.65;
}

.player-form_hero-stat{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-parameters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.hero-name {
  width: 200px;
}

.icon {
  width: 25px;
  margin-right: 5px;
}

.hero-stat {
  display: flex;
  align-items: center;
}

